@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Data annotations</h1>
    <p class="lead">Two scenarios that will help you learn how to use data annotations on view model classes.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/jan27/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scenario: Vehicles</h2>
        <p>Two classes were written:</p>
        <ol>
            <li>With data annotations</li>
            <li>None</li>
        </ol>
        <p>Use the navigation menu items at the top to compare the scenarios in a browser. Then, study the code.</p>
    </div>
    <div class="col-md-4">
        <h2>Scenario: User accounts</h2>
        <p>Two classes were written:</p>
        <ol>
            <li>With data annotations</li>
            <li>None</li>
        </ol>
        <p>Use the navigation menu items at the top to compare the scenarios in a browser. Then, study the code.</p>
    </div>
</div>