@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Search Music</h1>
    <p class="lead">Uses Ajax to search for music tracks with a search string.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar30/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Look in the Attention comment tokens.</p>
        <p>Search form uses Ajax to fetch tracks that match the search text.</p>
    </div>
</div>