@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Security Introduction</h1>
    <p class="lead">An introduction to the security features in a web app.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/feb24/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This is a lightly-modified web app with security.</p>
        <p>The Home controller has various versions of the [Authorize] attribute.</p>
        <p>In Visual Studio, open Task List, and look for the "Attention" comment tokens.</p>
    </div>
    <div class="col-md-4">
        <h2>"About" menu choice</h2>
        <p>Request must be authenticated.</p>
        <h2>"Contact" menu choice</h2>
        <p>Request will work for specific users only:</p>
        <ul>
            <li>john@example.com</li>
            <li>mary@example.com</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>"Hello..." menu choice</h2>
        <p>On the right side of the nav menu at the top of the page.</p>
        <p>For authenticated users.</p>
        <p>Displays information about the authenticated user, including its claims.</p>
    </div>
</div>