@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Security Claims Introduction</h1>
    <p class="lead">Learn how to support user accounts with different characteristics, power, and privilege.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/feb24/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Claims are used to describe a user account's characteristics, power, and privilege.</p>
        <p>They are a common feature of modern security-aware apps.</p>
    </div>
    <div class="col-md-4">
        <h2>Adding claims</h2>
        <p>Claims can be added in the <b>Register a new user account</b> workflow.</p>
        <p>Study the Account controller, and its Register method, to see this in action.</p>
        <p>Alternatively, you can build logic and a user interface to enable an administrator-type user to add claims to an existing user.</p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>