@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Playlist Filtering</h1>
    <p class="lead">Using JavaScript to help the user interaction experience.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar30/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This web app enables a user to edit a playlist.</p>
        <p>Similar to what we did for Assignment 6.</p>
        <p>This web app helps the user manage the list of tracks that appear for selection.</p>
    </div>
</div>