@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Note-taking app</h1>
    <p class="lead">Security-aware web app, private data.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar16/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This app enables a user to work with their own data.</p>
        <p>A user cannot view data created by other users.</p>
        <p>Study the Manager class methods to learn how it's done.</p>
    </div>
</div>