@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ajax item select</h1>
    <p class="lead">Cascading item-selection elements built with Ajax.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/apr01-apr04/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Look at the Attention comment tokens to get the complete story.</p>
    </div>
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>This code example implements the classic cascading item-selection elements use case (i.e. cascading dropdown lists).</p>
        <p>The first list is typically delivered when the page loads.</p>
        <p>The other lists are delivered after the browser user makes a selection from the list above.</p>
    </div>
</div>