@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LINQ Introduction</h1>
    <p class="lead">Shows typical LINQ usage, on the Customers collection</p>
    <p><a href="http://petermcintyre.com/bti420/notes/jan27/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The navigation menu (above) includes the original list-of-customers link.</p>
        <p>It also includes others that will show typical LINQ usage.</p>
        <p>Study the Manager class and the CustomersController class.</p>

    </div>
    <div class="col-md-4">
        <h2>LINQ usage in this app</h2>
        <p>These LINQ features are used:</p>
        <ul>
            <li>Find</li>
            <li>SingleOrDefault</li>
            <li>Where</li>
            <li>OrderBy, and ThenBy</li>
            <li>Union</li>
        </ul>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>