@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Associations Add and Edit</h1>
    <p class="lead">Learn how to work with add and edit patterns, and associated data.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/feb12-feb15/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The problem domain is the automotive industry:</p>
        <ul>
            <li>Country entity, has many...</li>
            <li>Manufacturer entities, has many...</li>
            <li>Vehicle entities</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Functionality</h2>
        <p>Country entity</p>
        <ul>
            <li>Display a list</li>
        </ul>
        <p>Manufacturer entity</p>
        <ul>
            <li>Display a list</li>
            <li>Manufacturer info, including some info about vehicles</li>
            <li>Add a new Vehicle for the selected Manufacturer</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Functionality (continued)</h2>
        <p>Vehicle entity</p>
        <ul>
            <li>Display a list</li>
            <li>Vehicle info, including some info about its manufacturer and country</li>
            <li>Add a new Vehicle (and choose the manufacturer)</li>
            <li>Edit vehicle info (sell price only)</li>
            <li>Delete a vehicle</li>
        </ul>
    </div>
</div>