@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HTML Form Foundations</h1>
    <p class="lead">Introduces you to the foundations for building rich HTML Forms.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/feb10/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Yes, we realize that you know how to create a basic HTML Form.</p>
        <p>However, it takes more knowledge and effort to create a <em>rich</em> HTML Form, which is nice-looking, and can use dynamically-generated data.</p>
        <p>This code example takes you through, in sequence, a progression that enables you to learn the foundations.</p>
        <p>All will POST to a <a href="https://formpost.azurewebsites.net/" target="_blank">public app</a> which echoes back the data that was submitted. This enables you to sanity-check your design and coding.</p>
    </div>
    <div class="col-md-4">
        <h2>Inspect these samples</h2>
        <p>Simple input (e.g. text boxes)</p>
        <p>Dropdowns and listboxes:</p>
        <ul>
            <li>Built with a collection of strings</li>
            <li>And built with a collection of objects</li>
        </ul>
        <p>Radios and checkboxes:</p>
        <ul>
            <li>Built with a collection of strings</li>
            <li>And built with a collection of objects</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Please note</h2>
        <p>NONE of these use the recommended Bootstrap classes to position and style the elements.</p>
        <p>Instead, the goal is to introduce you to the important interaction and coding patterns. </p>
    </div>
</div>