@model IEnumerable<string>

@{
    ViewBag.Title = "Radio Check Simple";
}

<h2>Radio Check Simple</h2>

<p>This page has radios and checkboxes.<br />A collection of strings will be used to render the items.</p>
<hr />

<form action="http://postform.azurewebsites.net/home/test" method="post">

    <!-- Hand-edited radio button group -->
    <p>Size:</p>
    <p>
        <label><input type="radio" name="Size" value="Small" />Small &nbsp;&nbsp;</label>
        <label><input type="radio" name="Size" value="Medium" />Medium &nbsp;&nbsp;</label>
        <label><input type="radio" name="Size" value="Large" />Large &nbsp;&nbsp;</label>
    </p>

    <!-- Use the passed-in collection to render a radio button group -->
    <p>Colour:</p>
    <p>
        @foreach (var colour in Model)
            {
                <!-- If you surround the input element with a label element, both are clickable -->
                <label><input type="radio" name="ColourRBG" value="@colour" />@colour &nbsp;&nbsp;</label>
            }
    </p>

    <!-- Use the passed-in collection to render a checkbox group -->
    <p>Colours:</p>
    <p>
        @foreach (var colour in Model)
            {
                <!-- If you surround the input element with a label element, both are clickable -->
                <label><input type="checkbox" name="ColourCBG" value="@colour" />@colour &nbsp;&nbsp;</label>
            }
    </p>

    <p><input type="submit" value="Login" /></p>

</form>
