@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web app project template v4</h1>
    <p class="lead">Security-aware and claims-based web app, with persistence. Design your own data model.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar18-mar21/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this template</h2>
        <p>Includes all the features that we have covered up until the end of Week 9.</p>
        <p>For example, role claims are now defined by a design model class, and initialized during the "load data" task.</p>
        <p>This template also includes graceful error-handling. </p>
    </div>
    <div class="col-md-4">
        <h2>Do these tasks</h2>
        <p>In the Manager class, in the LoadData() method, add the role claims that you need for the app.</p>
        <p>Then, continue defining your own design model classes, and everything else you need to do to build the app. </p>
    </div>
</div>