@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo as a property</h1>
    <p class="lead">Media type handling, with a photo as an entity property.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar23/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Look at the Task List, and the "Attention" comment tokens.</p>
        <p>Media items are saved in the persistent store.</p>
        <p>A special-purpose controller delivers media items upon request. </p>
    </div>
</div>