@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Association many-to-many</h1>
    <p class="lead">Common patterns for working with a many-to-many association.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/feb17/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>This code example shows some common patterns for working with many-to-many associations.</p>
        <p>You have experience displaying the to-many end of associations.</p>
        <p>This example builds upon that, by enabling you to <u>edit</u> the to-many data.</p>
        <p>In addition, we work with both ends of the many-to-many association.</p>
    </div>
    <div class="col-md-3">
        <h2>Employee >> <br />Job Duties</h2>
        <p>Tasks that can be done:</p>
        <ul>
            <li>Employee list</li>
            <li>Employee list, with job duty info</li>
            <li>Employee detail, with job duty info</li>
            <li>Edit an employee's list-of-job-duties</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Job Duty >> <br />Employees</h2>
        <p>Tasks that can be done:</p>
        <ul>
            <li>Job Duty list</li>
            <li>Job Duty list, with employee info</li>
            <li>Job Duty detail, with employee info</li>
            <li>Edit a job duty's list-of-employees</li>
        </ul>
    </div>
</div>