@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project With Security</h1>
    <p class="lead">ASP.NET MVC web app, with "Individual User Accounts" security.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/feb24/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This app was created with the ASP.NET Web Application project template, and Individual User Accounts security.</p>
        <p>No other modifications were made to this code example.</p>
        <p>Open this app in Visual Studio.</p>
        <p>Use the Task List to study the "Attention" comment tokens.</p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>