@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Load data from XLSX</h1>
    <p class="lead">Load data from an XLSX file into the data store.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/apr06/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Look at the Attention comment tokens, by using the Visual Studio Task List.</p>
        <p>In the App_Data folder, there is an XLSX file with Player data, NFLPlayoffTeams.csv.</p>
        <p>The Manager class has a method that will load the data into the data store.</p>
    </div>
</div>