@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Edit and Delete</h1>
    <p class="lead">Shows how to use the "edit existing" and "delete item" tasks in a web app that has a persistent store.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/jan20/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Study the view models and the controller.</p>
        <p>This code example builds upon the "Add New" code example from last week.</p>
        <p>Also, study the components that implement the persistent store.</p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>