@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rich-text note-taking app</h1>
    <p class="lead">Based on NotesApp. Adds rich-text editing.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar16/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The CKEditor package is used to render a rich text editor.</p>
        <p>Study the Create and Edit views.</p>
        <p>Controller POST methods must accept HTML markup.</p>
        <p>Display-only views must use @@Html.Raw() to render HTML markup</p>
    </div>
</div>