
@{
    ViewBag.Title = "Load data";
}

<h2>Load data</h2>

<p>The following actions are supported:</p>
<ul>
    <li>/loaddata/country</li>
    <li>/loaddata/manufacturer</li>
    <li>/loaddata/vehicle</li>
</ul>
