@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo With Preview</h1>
    <p class="lead">Uses JavaScript to show a preview of a photo to-be-uploaded.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar30/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Look at the Task List, and the "Attention" comment tokens.</p>
        <p>After selecting a photo, it appears in a preview/thumbnail.</p>
    </div>
</div>