@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ajax with web service</h1>
    <p class="lead">Ajax calls to a web service, fetch and display data.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/apr01-apr04/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Look at the Attention comment tokens to get the complete story.</p>
    </div>
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>The buttons on the "fetch and display data" view call JavaScript functions.</p>
        <p>Each creates a request to a new web service controller.</p>
        <p>The controller delivers JSON, and the JavaScript function builds an HTML table with the data.</p>
    </div>
</div>