@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NFL Playoff Teams</h1>
    <p class="lead">Playoff teams and player rosters, following the 2015 season.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/feb03/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This code example shows display-and-render patterns for entities that have a one-to-many association.</p>
        <p>In this example, a Team has a collection of Player objects. A Player object has a to-one association with a Team object.</p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Team details includes player info.</p>
        <p>Player list can optionally include the (short code) name of the team.</p>
    </div>
    <div class="col-md-4">
        <h2>Updating this in the future</h2>
        <p>The Manager class has methods to build teams and rosters.</p>
        <p>Fetch the team data manually, and update the method code.</p>
        <p>Fetch the roster data into worksheets in an Excel workbook, one per team. If the column format changes from year to year, you must update the code.</p>
    </div>
</div>